{% extends "basic.twig" %}

{% block title %}projects{% endblock %}
{% block head %}
    <style>
        .task {
            border-bottom: 1px solid #EEE;
        }

        .task ul, li {
            list-style: none;
        }
    </style>
{% endblock %}

{% block content %}
    <h1>{{ project.name }}</h1>
    <ul>
        <li>name: {{ project.name }}</li>
        <li>owner: {{ project.owner }}</li>
        <li>yml: <br><textarea name="" id="" cols="30" rows="10" readonly>{{ project.yml }}</textarea></li>
        <li>create at: {{ project.created_at }}</li>
        <li>update at: {{ project.updated_at }}</li>
    </ul>
    <dl>
        <dt>Bind Hooks</dt>
        <dd>
            <ul>
                {% for hook in project.hooks %}
                    <li>
                        <a href="{{ route('hook.detail',[hook.id]) }}">{{ hook.name }}</a> | active:
                        {% if hook.active %}
                            <i class="glyphicon glyphicon-ok-circle text-success"></i>
                        {% else %}
                            <i class="glyphicon glyphicon-remove-circle text-danger"></i>
                        {% endif %}
                    </li>
                {% else %}
                    <li>Bind no hooks</li>
                {% endfor %}
            </ul>
        </dd>
    </dl>
    <h2>tasks</h2>
    <div class="task">
        <ul>
            {% for task in project.tasks|reverse %}
                <li class="{{ task.viewModel.statusClass }}"><a href="{{ route('task',[task.id]) }}">task
                        id: {{ task.id }} | status: {{ task.viewModel.statusDes }} | start time: {{ task.start_time }} |
                        end time:{{ task.end_time }} | create at: {{ task.created_at }} | update
                        at: {{ task.updated_at }}</a></li>
            {% else %}
                <li>No task.</li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}

