{% extends "basic.twig" %}

{% block title %}projects{% endblock %}
{% block head %}
    <style>
        .task {
            border-bottom:1px solid #EEE;
        }
        .task ul,li{
            list-style: none;
        }
    </style>
{% endblock %}

{% block content %}
    <a href="{{ route('projects') }}">back</a>
    <h1>{{ project.name }}</h1>

    <a href="{{ route('edit-project',[project.id]) }}">edit</a>
    <form action="{{ route('build',[project.id]) }}" method="post">
        {{ csrf_field() }}
        <button class="btn btn-primary btn-xs" type="submit">build</button>
    </form>

    <ul>
        <li>name: {{ project.name }}</li>
        <li>owner: {{ project.owner }}</li>
        <li>yml: <br><textarea name="" id="" cols="30" rows="10" readonly>{{ project.yml }}</textarea></li>
        <li>create at: {{ project.created_at }}</li>
        <li>update at: {{ project.updated_at }}</li>
    </ul>
    <h2>tasks</h2>
    <div class="task">
        <ul>
    {% for task in project.tasks|reverse %}
            <li><a href="{{ route('task',[task.id]) }}">task id: {{ task.id }} | status: {{ task.status }} | start time: {{ task.start_time }} | end time:{{ task.end_time }} | create at: {{ task.created_at }} | update at: {{ task.updated_at }}</a></li>
    {% else %}
        <li>No task.</li>
    {% endfor %}
        </ul>
    </div>
{% endblock %}

