<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>projects</title>

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,600" rel="stylesheet" type="text/css">

    <style>
        .task {
            border-bottom:1px solid #EEE;
        }
        .task ul,li{
            list-style: none;
        }
    </style>
</head>
<body>

<div class="container">
    <a href="{{ route('projects') }}">back</a>
    <h1>{{ project.name }}</h1>
    <ul>
        <li>name: {{ project.name }}</li>
        <li>owner: {{ project.owner }}</li>
        <li>yml: <br><textarea name="" id="" cols="30" rows="10" readonly>{{ project.yml }}</textarea></li>
        <li>create at: {{ project.created_at }}</li>
        <li>update at: {{ project.updated_at }}</li>
    </ul>
    <h2>tasks</h2>
    {% for task in project.tasks %}
        <div class="task">
            <ul>
                <li>task id: {{ task.id }}</li>
                <li>status: {{ task.status }}</li>
                <li>start time: {{ task.start_time }}</li>
                <li>end time:{{ task.end_time }}</li>
                <li>create at: {{ task.created_at }}</li>
                <li>update at: {{ task.updated_at }}</li>
            </ul>
        </div>
    {% else %}
    {% endfor %}
</div>

</body>
</html>
