{% extends "basic.twig" %}

{% block title %}hooks{% endblock %}
{% block content %}
    <h1>hooks</h1>
    <table class="table">
        <thead>
        <tr>
            <th>hook</th>
            <th>description</th>
            <th>bind projects</th>
            <th>active</th>
            <th>action</th>
        </tr>
        </thead>
        <tbody>
        {% for hook in hooks %}
            <tr>
                <td><strong>{{ hook.name }}</strong></td>
                <td>{{ hook.description }}</td>
                <td>
                    <ol>
                        {% for project in hook.projects %}
                            <li>{{ project.name }}</li>
                        {% else %}
                            <li>doesn't bind any project</li>
                        {% endfor %}
                    </ol>
                </td>
                <td>
                    {% if hook.active %}
                        <i class="glyphicon glyphicon-ok-circle text-success"></i>
                    {% else %}
                        <i class="glyphicon glyphicon-remove-circle text-danger"></i>
                    {% endif %}
                </td>
                <td><a href="{{ route('hook.detail',[hook.id]) }}">Info</a></td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">No Hook, <a href="{{ route('unknownhooks') }}">generate hook from unknown hooks</a></td>
            </tr>
        {% endfor %}
        </tbody>
        <tfoot>
        <tr>
            <th>hook</th>
            <th>description</th>
            <th>bind projects</th><th>active</th>

            <th>action</th>
        </tr>
        </tfoot>
    </table>
{% endblock %}
